:root {
    --background-color: #e8e2c3;
    --primary-color: #3a4242;
    --secondary-color: #45a16d;
}

/* HEADER STYLES */

header {
    padding: 20px 35px;
    background-image: linear-gradient(var(--secondary-color),var(--background-color));
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

header nav {
    margin: 7px 0;
    width: 20%;
}

header a {
    text-decoration: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 20px;
    font-size: 24px;
}

/* HEADER STYLES END */

/* MAIN BODY STYLES */
body {
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* HOME PAGE BODY STYLES */
.home {
    display: flex;
    flex-wrap: wrap;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.images img {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

/* WORK PAGE STYLES */

.samples {
    display: flex;
    flex-wrap: wrap;
}

.sample {
    padding-bottom: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

section article div {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.ref-image {
    width: 500px;
    border-radius: 25px;
}

.right {
    padding-left: 50px;
    justify-content: flex-start;
}

.left {
    padding-right: 50px;
    justify-content: flex-end;
}

.description.left {
    text-align: right;
}

/* CONTACT PAGE STYLES */
.icon {
    width: 50px;
    height: 50px;
    padding-right: 10px;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact ul li{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-bottom: 25px;
    width: 100%;
}

#mail, #headshot {
    border-radius: 100%;
}