:root {
    --background-color: #e8e2c3;
    --primary-color: #3a4242;
    --secondary-color: #45a16d;
}

header {
    padding: 20px 35px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

header a {
    text-decoration: none;
}

header nav {
    margin 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 20px;
    font-size: 24px;
}

body {
    background-color: var(--background-color);
    color: var(--primary-color);
}

div {
    display: flex;
    flex-wrap: wrap;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}

.images img {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

.about {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}